@using ElectroStireNT.Models
@using ElectroStireNT.HtmlHelpers
@model ListViewModel

@foreach (var p in Model.Prods)
{
    <div class="card my-2 w-75">
        <div class="card-header">
            @p.Name
        </div>
        <div class="card-body">
            <h6 class="card-text">Жанр : @p.Category</h6>
            <p class="card-text">@p.Description</p>

            <h6 class="card-t">Цена : @p.Price.ToString("# руб")</h6>
            @Ajax.ActionLink("Добавить в корзину", "AddToCart", "Home", new
            {
                searchName = @ViewBag.searchName,
                id = p.ProductId,
               category = ViewBag.Category
            },
                     new AjaxOptions { UpdateTargetId = "updateProducts", OnSuccess = "OnSuccess" }, new { @class = "btn btn-primary btn-sm" })
        </div>
    </div>}
